---
Title: ""
Date: 2019-06-01T18:18:28+02:00
Draft: false
Type: "root"
---
<h1>Az FSF.hu Alapítvány</h1>
<hr>

<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Adó 1%-ának felajánlása</h4>
  Ha azért érkezett a weboldalunkra, mert nekünk szeretné felajánlani az adója 1%-át, akkor ehhez csak az adószámunka van szüksége, amely a következő: <strong>18247806-1-43</strong>.
  Az Alapítvány részletes adatai és beszámolói a <a href="nevjegy/">Névjegy</a> oldalon találhatók.
</div>

<p class="lead">
	Üdvözöljük az FSF.hu Alapítvány honlapján. Alapítványunk célja a szabad szoftverek magyarországi honosítása, oktatása és népszerűsítése.
	(<a href="szabad-szoftver/">Mi a szabad szoftver?</a>)
</p>

<h3>Információk</h3>
<hr>
<ul class="fsfhu">
	<li><a href="nevjegy/">Az Alapítvány adatai</a></li>
	<li><a href="tamogatas/">Hogyan támogathat</a></li>
	<li><a href="alapito-okirat/">Alapító okirat</a></li>
</ul>

<h3>Ismerje meg tevékenységünket</h3>
<hr>
<ul class="fsfhu">
	<li><a href="projektjeink/">Projektjeink</a></li>
	<li><a href="aktivistaink/">Aktivistáink</a></li>
	<li><a href="tamogatoink/">Támogatóink</a></li>
</ul>

<h3>Szabad szoftverekkel kapcsolatos információk</h3>
<hr>
<ul class="fsfhu">
	<li><a href="szabad-szoftver/">Mi a szabad szoftver?</a></li>
	<li><a href="javasolt-szoftverek/">Javasolt szoftverek</a></li>
	<li><a href="hibajelentes/">Általunk honosított szoftverek fordítási hibáinak bejelentése</a></li>
</ul>

<h3>In English</h3>
<hr>
<ul class="fsfhu">
	<li><a href="about-us/">About us</a></li>
</ul>
