---
Title: "Alapító okirat"
Date: 2019-08-20T10:11:37+02:00
Draft: false
Summary: "Az FSF.hu Alapítvány alapító okirata"
---
<p class="lead">a „Free Software Foundation Hungary Alapítvány” a Szabad Szoftverek Magyarországi Népszerűsítéséért és Honosításáért jogi személy létesítéséről</p>
<p>Az alapítók – a Polgári Törvénykönyv vonatkozó rendelkezéseinek a figyelembe vételével „Free Software Foundation Hungary Alapítvány” a Szabad Szoftverek Magyarországi Népszerűsítéséért és Honosításáért elnevezésű alapítványt létesítenek, az alábbiakban megfogalmazott tartós közérdekű célok megvalósítása érdekében közhasznú szervezetként.</p>

<h3 class="fsfhu"></h3>
<hr>
<ul class="fsfhu">
  <li><b>Az alapítvány neve:</b> <i>„Free Software Foundation Hungary Alapítvány” a Szabad Szoftverek Magyarországi Népszerűsítéséért és Honosításáért</i></li>
  <li><b>Az alapítvány rövidített neve:</b> <i>FSF.hu Alapítvány</i></li>
  <li><b>Az alapítvány székhelye:</b> <i>1221 Budapest, Arany János út 41. 2. em. 10.</i></li>
  <li><b>Az alapítvány jogállása:</b> <i>Közhasznú szervezet</i></li>
</ul>

<h3 class="fsfhu">Az alapítók neve és címe</h3>
<hr>
<ul class="fsfhu">
  <li>Dr. Somogyi Péter</li>
  <li>Noll János</li>
  <li>Mátó Péter János</li>
</ul>

<p>
	Alulírott dr. Somogyi Péter alapító a Ptk.-ban foglalt lehetőséggel élve,
	tartós külföldi tartózkodás vagy egyéb akadályoztatás esetére úgy rendelkezem,
	hogy ezen állapot fennállása esetén alapítói jogaimat Varga Csaba Sándor gyakorolja
	ugyanabban a szellemiségben, elkötelezettséggel, mely engem vezérelt az alapítvány létrehozásában.
</p>
<p>
	Alulírott Noll János és Mátó Péter János alapítók a Ptk.-ban foglalt lehetőséggel élve,
	tartós külföldi tartózkodás vagy egyéb akadályoztatásunk esetére úgy rendelkezünk,
	hogy ezen állapot fennállása esetén alapítói jogainkat Timár András gyakorolja
	ugyanabban a szellemiségben, elkötelezettséggel, mely minket vezérelt az alapítvány létrehozásában.
</p>

<p class="text-danger font-italic">A címeket adatvédelmi okokból töröltük az alapító okirat online változatából.</p>

<h3 class="fsfhu">A szervezet közhasznú jogállás megszerzéséhez szükséges működési feltételek</h3>
<hr>
<ol class="fsfhu">
	<li>A szervezet vállalkozási tevékenységét csak közhasznú céljainak megvalósítása érdekében, azokat nem veszélyeztetve végzi.</li>
  <li>Gazdálkodása során elért eredményét nem osztja fel, azt a létesítő okiratában meghatározott tevékenységére fordítja.</li>
  <li>Közvetlen politikai tevékenységet nem folytat, szervezete pártoktól független és azoknak anyagi támogatást nem nyújt, nem állít képviselőjelöltet országgyűlési és fővárosi, illetve megyei képviselő választáson, nem lehet alapító tagja párt, továbbá nem nyújthat pártoknak anyagi támogatást. Az alapítvány befektetési tevékenységet nem folytat.</li>
</ol>

<h3 class="fsfhu" id="celok">Az alapítvány célja és tevékenységi köre</h3>
<hr>
<h4>Az alapítvány célja</h4>
<p>
	Az alapítvány célja a szabad, illetve nyílt forráskódú szoftverek népszerűsítése, azok honosítása és a magyarországi fejlesztések támogatása által, valamint a célok megvalósítását segítő eszközök felkutatása, támogatások igénybevétele és nyújtása.
	Az alapítók a „szabad szoftver” kifejezés alatt az alábbi meghatározást értik:
	Szabad szoftver minden olyan számítógépes program és dokumentum, amely kielégíti az alábbi feltételeket:
</p>
<ul class="fsfhu">
  <li>a szoftver bármilyen célra felhasználható,</li>
  <li>lehetőség van a szoftver működésének szabad tanulmányozására és módosítására,</li>
  <li>szabadon terjeszthető,</li>
  <li>lehetőség van a szoftver továbbfejlesztésére és a fejlesztés közreadására.</li>
</ul>
<p>
	Az alapítvány célja a szabad szoftverek széles körű megismertetése.
	Az alapítvány a számítógép-felhasználók részére kíván segítséget nyújtani a lehetséges felhasználási alternatívákkal és azok előnyeivel kapcsolatban.
</p>
<p>A fentieken túl az alapítvány támogatni kívánja a felhasználók igényeinek megfelelő szabad szoftverek fejlesztését, ezért létre kíván hozni egy közösen használható infrastruktúrát, amelyet több szabad szoftveres fejlesztőcsapat is használhat.</p>

<h4>Az alapítvány tevékenységi köre</h4>
<p>A szabad szoftverek megismertetése és népszerűsítése érdekében az alapítvány szervezni és támogatni kíván az ilyen és hasonló témakörrel foglalkozó konferenciákat, előadásokat.</p>
<p>A szabad szoftverek magyarországi népszerűsítésére az alapítvány a fontosabb szabad szoftverek honosítását kívánja támogatni infrastruktúrával és fordító összejövetelek szervezésével.</p>
<p>Azon felhasználóknak, akik szabad szoftvereket használnak, vagy ezek használatára át kívánnak állni, az alapítvány támogatást nyújt, oktatásokat szervez.</p>
<p>Az alapítvány támogatja szabad szoftverek honosítását és fejlesztését. A fejlesztések során informatikai területen kutatás-fejlesztési tevékenységet folytat.</p>
<p>Az alapítvány cél szerinti tevékenységei közül a közhasznú tevékenységei az alábbi törvények szerint:</p>

<h5>Oktatás, ismeretterjesztés, kutatás tevékenység</h5>

<p>2011. évi CXC. törvény a nemzeti köznevelésről 4. § (1)</p>
<ol class="fsfhu" type="a">
  <li >óvodai nevelés,</li>
	<li style="counter-increment: level1;">általános iskolai nevelés-oktatás,</li>
	<li>nemzetiséghez tartozók általános iskolai nevelése-oktatása,</li>
	<li style="counter-increment: level1 2;">gimnáziumi nevelés-oktatás,</li>
	<li>szakközépiskolai nevelés-oktatás,</li>
	<li>szakiskolai nevelés-oktatás,</li>
	<li>nemzetiség gimnáziumi nevelés-oktatása,</li>
	<li>nemzetiség szakközépiskolai nevelés-oktatása,</li>
	<li>nemzetiség szakiskolai nevelés-oktatása,</li>
	<li style="counter-increment: level1;">felnőttoktatás,</li>
</ol>

<p>20. § (7) Nevelő és oktató munkához kapcsolódó, nem köznevelési tevékenység:</p>
<ol class="fsfhu" type="a">
  <li>a felsőoktatás, a köz- és felsőoktatási kutatás, a közművelődés</li>
</ol>

<h5>Kutatás-fejlesztési tevékenység:</h5>
<p>2004. évi CXXXIV. törvény a kutatás-fejlesztésről és a technológiai innovációról:</p>
<p>5. § (1) e) támogatja és ösztönzi a vállalkozásokat annak érdekében, hogy hasznosítsák a hazai kutatás-fejlesztés eredményeit, valamint a külföldön létrejött tudást és technológiát;</p>
<p>5. § (3) A TTI stratégia kialakításában a Kormány együttműködik a tudományos élet képviselőivel, a vállalkozásokkal, valamint a társadalmi, gazdasági érdekképviseletekkel és más civil szervezetekkel.</p>

<h5>Szabad szoftverek népszerűsítése, szabad tudás terjesztése – kulturális szolgáltatás tevékenység:</h5>
<p>2011. évi CLXXXIX. törvény Magyarország helyi önkormányzatairól</p>
<p>13. § (1) 7. kulturális szolgáltatás, különösen a nyilvános könyvtári ellátás biztosítása; filmszínház, előadó-művészeti szervezet támogatása, a kulturális örökség helyi védelme; a helyi közművelődési tevékenység támogatása;</p>

<h3 class="fsfhu" id="csatlakozas">Csatlakozás</h3>
<hr>
<p>
	Az alapítvány nyitott, ahhoz magyar és külföldi természetes és jogi személyek egyaránt csatlakozhatnak, ha a <a href="#celok">IV. pontban</a> megfogalmazott célok eléréséhez vagyonrendeléssel hozzájárulnak és a jelen alapító okirat rendelkezéseit elfogadják.
	A csatlakozási szándékot írásban kell bejelenteni, melynek elfogadásáról a kuratórium dönt.
</p>

<h3 class="fsfhu">Az alapítvány induló vagyona:</h3>
<hr>
<p>Az alapítvány induló vagyona 500.000.-Ft- azaz ötszázezer forint készpénz, amelyből az alapítók jelen okirat aláírásától számított 15 napon belül a következő összegeket, az alábbi megosztás szerint helyezik el pénzintézeti számlán:</p>
<ul class="fsfhu">
	<li>Somogyi Péter: 150.000 Ft, azaz százötvenezer forint</li>
	<li>Noll János: 150.000 Ft, azaz százötvenezer forint</li>
	<li>Mátó Péter János: 200.000 Ft, azaz kettőszázezer forint</li>
</ul>
<p>Az alapítvány előbbiekben meghatározott induló vagyona növekedhet a jelen alapító okiratban meghatározott feltételek szerint csatlakozók hozzájárulásaival, valamint a kezelő szerv gazdálkodásának eredményével.</p>

<h3 class="fsfhu">Az alapítványi vagyon működtetése</h3>
<hr>
<p>Az alapítvány vagyonával való rendelkezés a kezelő szervet (kuratórium) illeti meg. Az alapítványi vagyon döntő részét az alapítványi célok felhasználására kell fordítani.</p>

<h3 class="fsfhu">Az alapítványi vagyon felhasználásának a módja</h3>
<hr>
<p>Az alapítvány kuratóriuma az alapítvány javára befolyt pénzösszegek függvényében dönt az alapítványi javak felhasználásának a mértékéről és sorrendjéről. A vagyon felhasználása csak az alapítványi célok megvalósítását szolgálhatja, az alapítványi vagyon döntő részét az alapítványi célok felhasználására lehet fordítani. Az alapítvány vagyonából olyan törekvés nyerhet támogatást, amely összhangban van az alapítvány céljaival. Ennek megfelelően az alapítvány hangsúlyozottan fontosnak tartja:</p>
<ul class="fsfhu">
  <li>nyilvános pályázatok meghirdetését az alapítvány céljainak megfelelő ismeretterjesztési tevékenységek és projektek támogatására,</li>
	<li>az alapítvány céljainak a megvalósításában használható kiadványok megjelentetésének a támogatását.</li>
  <li>Az alapítványi vagyon elhelyezésére bankszámlát kell nyitni.</li>
</ul>

<h3 class="fsfhu">Az alapítvány működése</h3>
<hr>
<p>Az alapítvány működése során, céljai megvalósítása érdekében gazdálkodik vagyonával, vállalkozási tevékenységet kizárólag csak közhasznú céljainak a megvalósítása érdekében, azokat nem veszélyeztetve folytathat; az ebből származó bevételt jelen alapító okiratában meghatározott tevékenységeire fordítja. Az alapítvány gazdasági-vállalkozási tevékenységet csak másodlagosan végezhet.</p>
<p>Az alapítvány céljainak megvalósítására az alapítvány induló vagyona (törzsösszeg), valamint az induló vagyonát meghaladó vagyona (tehát az induló vagyon hozadéka (kamat, osztalék stb.), valamint a későbbi csatlakozók vagyoni hozzájárulásai és azok hozadéka) használható fel azzal, hogy az induló vagyon minimum 20 %-át a folyamatos működés biztosítása érdekében folyamatosan az alapítványi bankszámlán kell tartani.</p>
<p>Az Alapítvány céljainak az elérése érdekében, az Alapítvány céljaira rendelt vagyonból pályázat útján: ösztöndíjat, támogatást nyújthat, Alapítványi díjat létesíthet, dönthet annak odaítéléséről, anyagi támogatást nyújthat, minden olyan megoldás, tevékenység vagy szervezet részére, amely az Alapítvány céljainak az eléréséhez jelentős, széles körben hasznosítható eredményt ígér.</p>

<h3 class="fsfhu">Kuratórium, nyilvánosság</h3>
<hr>
<p>Az alapítványt háromtagú kuratórium kezeli (kezelő szerv). A kuratórium az alapítvány legfőbb szerve, amely gondoskodik a kitűzött célok megvalósításáról. A legfőbb szerv egyben az alapítvány ügyintéző és képviseleti szerve. A kuratórium elnökét és tagjait határozatlan időre az Alapítók kérik fel.</p>
<p>A kuratórium – ügyintéző szervként – ellátja az alapítvány ügyeinek operatív viteléhez szükséges tennivalókat, az ügyviteli, adminisztrációs feladatokat. Biztosítja a könyvvezetés vitelét.</p>
<p>A kuratórium az alapítvány képviseleti szerve. A kuratórium jogosult az alapítvány vagyonával kapcsolatos mindennemű döntés meghozatalára, gondoskodik annak rendeltetésszerű felhasználásáról és gyarapításáról.</p>
<p><b>A kuratórium tagjai:</b></p>
<ul class="fsfhu">
	<li>Mátó Péter János</li>
	<li>Úr Balázs</li>
</ul>
<p><b>A kuratórium elnöke:</b></p>
<ul class="fsfhu">
	<li>Meskó Balázs</li>
</ul>
<p>A kuratórium tagjai megbízatásukat három hónapos határidővel visszaadhatják, helyükre az alapítók a kuratórium javaslata alapján új tagot neveznek ki. Az új kuratóriumi tagot valamennyi alapító együtt nevezheti ki.</p>
<p>A kuratórium tagjainak egybehangzó javaslata alapján az alapítók új kuratóriumi tagot vagy tagokat jelölhetnek ki. Az új kuratóriumi tagot valamennyi alapító együtt jelölheti ki.</p>
<p>Az alapítványt a kuratórium képviseli, amelynek nevében az elnök vagy kijelölt helyettese jár el. <b>Az elnökön kívül a kijelölt képviselő csak a nem alapító kuratóriumi tag lehet.</b></p>
<p>A kuratórium elnöke és tagjai munkájukat társadalmi munkában, díjazás nélkül végzik, az alapítvánnyal kapcsolatos tevékenységük során felmerülő költségeik megtérítésére jogosultak.</p>
<p>Az elnök akadályoztatása esetén, az elnök a kuratórium bármely tagját (felkérheti) kijelölheti eseti megbízás alapján a helyettesítésre, aki ilyenkor helyette teljes jogkörrel eljár.</p>
<p>Szerződés érvényességéhez az elnök (vagy akadályoztatása esetén az eseti megbízás alapján eljáró kijelölt helyettese) önálló aláírása, bankszámláról történő rendelkezéshez az elnök vagy kijelölt helyettese és a kuratórium egy tagjának (akit az alapítók jelölnek ki) együttes aláírása szükséges.</p>

<h4>A kuratórium működési szabályzata</h4>
<p>A kuratórium szükség szerint, de legalább évente egyszer tartja üléseit, biztosítva az alapítvány rendeltetésszerű működtetését.</p>
<p>
	Az ülések összehívásáról az elnök dönt, de azt bármelyik tag is kezdeményezheti.
	A kuratóriumi tagokat az elnök hívja össze az ülésezések időpontja előtt 15 nappal történő írásbeli, ajánlott levél formájában történő értesítéssel (meghívó).
	A meghívóban pontosan meg kell jelölni az ülésezés napirendi pontjait. Akadályoztatásuk esetén a tagok kötelesek azt – legkésőbb a kitűzött ülések előtti napig – jelezni.
</p>
<p>A kuratórium ülései nyilvánosak, azonban az üléseken nyilvánosság a kuratórium döntésével esetenként, egyedi ügyekben korlátozható (pl.: adatvédelmi, személyiségi jogi védelmi okokból).</p>
<p>A kuratórium akkor határozatképes, ha azon minden kuratóriumi tag jelen van. A határozatképtelenség miatt elhalasztott ülést 15 napon belül össze kell hívni. Az ismételten összehívott ülés akkor határozatképes, ha azon a kuratóriumi tagok több, mint fele jelen van.</p>
<p>
	A kuratórium döntéseit nyílt szavazással, egyszerű szótöbbséggel hozza.
	A kuratórium üléseiről jegyzőkönyvet kell készíteni, melyet minden jelenlévő tag alá ír és melynek elkészítése kijelölt jegyzőkönyvvezető feladata.
	Továbbá a jegyzőkönyvnek tartalmaznia kell a legfőbb szerv döntéseinek tartalmát, időpontját és hatályát, illetve a döntést támogatók és ellenzők személyét és számarányát.
</p>
<p>
	A kuratóriumnak joga van javaslatot tenni az alapító okirat módosítására, kiegészítésére ill. mindarról, amiről az alapító dönt.
	A kuratórium kizárólagos hatáskörébe tartozik a közhasznúsági jelentés elfogadása.
	A kuratórium ülései nyilvánosak.
</p>
<p>Minden olyan kérdéskörben, amely a közhasznú szervezet működésével és gazdálkodásával kapcsolatban kötelező, a nyilvánosság biztosítása a kuratórium döntéshozatala során a nyilvánosságot nem zárhatja ki.</p>
<p>Az ülések határozatait a meghozataluktól számított 15 napon belül postai úton kell közölni az érintettekkel.</p>
<p>
	A közhasznú szervezet működésével kapcsolatosan keletkezett iratokba a szervezet képviselőjével történt előzetes egyeztetés alapján munkaidőben bárki betekinthet, saját költségére másolatot készíthet.
	A keletkezett iratokba történt betekintés iránti kérelem történhet személyesen, telefonon, írásban, telexen, telefaxon, e-mailen. A képviselő a betekintést kérő kérelmét, a kérelem tudomására jutásától számított 15. munkanapig köteles teljesíteni.
	A képviselő akadályoztatása esetén köteles helyettesről gondoskodni.
</p>
<p>
	A szervezet éves beszámolója, a közhasznúsági jelentés és a társadalmi közös szükséglet kielégítéséért felelős szervvel kötött megállapodás megtekinthető a fenti bekezdésben meghatározott feltételekkel. Az éves beszámoló elfogadására a kuratóriumi döntések elfogadásáról írtak az irányadóak. A kuratórium döntéseit a székhelyen elhelyezett hirdetőtáblán hozza nyilvánosságra.
	Az alapítvány működésének módjáról, szolgáltatásai igénybevételének módjáról, valamint beszámolói közléseiről a székhelyen elhelyezett hirdetőtáblán tájékoztatja a nyilvánosságot.
</p>
<p>
	A kuratórium legfontosabb feladata, hogy az ügyrendjének megfelelő módon döntsön az alapítványi vagyon alapítványi célnak megfelelő felhasználásáról, valamint a vagyonnal kapcsolatos gazdálkodási kérdésekben.
	A kuratórium szükség szerint, de évente legalább egy alkalommal az Alapítók részére tájékoztatást ad az addig végzett munkájáról, így különösen az alapítványi vagyon kezeléséről és felhasználásáról.
</p>
<p>A kezelő szerv vagy annak tisztségviselője által feladatkörének ellátása során harmadik személynek okozott kárért az alapítvány felel.</p>
<p>Egyhangú határozat szükséges az alábbi esetekben:</p>
<ul class="fsfhu">
  <li>amennyiben a kuratórium az alapítvány mindenkori vagyonának 50%-át meghaladó pénzösszeg tekintetében kell döntést hozni, azonban vállalkozási tevékenységre csak az alapítvány mindenkori vagyonának 50%-a használható fel,</li>
	<li>a kuratóriumi tag megbízatásának visszaadása esetén az új kuratóriumi tagra történő javaslattétel tárgyában,</li>
  <li>az éves beszámoló jóváhagyása, valamint a közhasznúsági jelentés elfogadása tárgyában.</li>
</ul>
<p>A kuratórium egyebekben maga határozza meg ügyrendjét.</p>

<h3 class="fsfhu">Vezető tisztségviselők</h3>
<hr>
<p>Az alapítvány vezető tisztségviselői a kuratórium elnöke és tagjai.</p>
<p>Nem lehet vezető tisztségviselő, illetve nem vehet részt a kuratórium határozathozatalában az a személy, aki vagy akinek közeli hozzátartozója, élettársa a határozat alapján</p>
<ol class="fsfhu" type="a">
  <li>kötelezettség, vagy felelősség alól mentesül, vagy</li>
  <li>bármilyen más előnyben részesül, illetve a megkötendő jogügyletben egyébként érdekelt.</li>
</ol>
<p>
	Nem minősül előnynek a közhasznú szervezet cél szerinti juttatásai keretében a bárki által megkötés nélkül igénybe vehető nem pénzbeli szolgáltatás,
	illetve a társadalmi szervezet által tagjának, a tagsági jogviszony alapján nyújtott, létesítő okiratnak megfelelő cél szerinti juttatás.
</p>
<p>Nem lehet vezető tisztségviselő az a személy sem, aki – az adózás rendjéről szóló törvény szerinti köztartozása kiegyenlítése nélkül – megszűnő közhasznú szervezetnél, annak megszűntét megelőző két évben legalább egy évig töltött be vezető tisztséget.</p>
<p>Nem kizárt, hogy a vezető tisztségviselő személy egyidejűleg több, azonban legfeljebb három közhasznú szervezetnél töltsön be hasonló tisztséget. A vezető tisztségviselő, illetve az ennek jelölt személy azonban köteles valamennyi érintett közhasznú szervezetet előzetesen tájékoztatni, hogy ilyen tisztséget egyidejűleg más közhasznú szervezetnél is betölt.</p>
<p>Az alapítványnál felügyelő szerv nem működik. Létre kell hozni az alapítvány működését és gazdálkodását ellenőrző – a vezető szervtől elkülönült – felügyelő szervet akkor, ha az alapítvány éves bevétele az 5 millió Forintot meghaladja. A felügyelő szerv az ügyrendjét maga állapítja meg.</p>

<h3 class="fsfhu">A beszámolási kötelezettség</h3>
<hr>
<p>
	Az alapítvány – a vonatkozó jogszabályi előírások szerint összeállított – éves beszámolóját a legfőbb szerv, a kuratórium hagyja jóvá, a tárgyévet követő május 31-ig. Az éves beszámoló jóváhagyásával egyidejűleg elkészítendő közhasznúsági jelentés elfogadása – a jelölt határidőig – szintén a kuratórium hatáskörébe tartozik.
	A közhasznúsági jelentés, annak valamennyi része – így a számviteli beszámoló is – nyilvános, amelybe bárki – az alapítvány működéséről, az igénybe vehető szolgáltatásairól információ-gyűjtés, tájékozódás érdekében – betekinthet, arról saját költségére másolatot készíthet. Az alapítványi székhelyen biztosítani kell az éves közhasznúsági jelentések és azok valamennyi részének bárki számára történő hozzáférhetőségét; a legutóbbi évi jelentést a hirdetőtáblán ki kell függeszteni.
</p>

<h3 class="fsfhu">Működéssel kapcsolatos szabályok</h3>
<hr>
<p>Az alapítvány nyitott, bármely magyar és külföldi természetes és jogi személy csatlakozhat hozzá, amennyiben:</p>
<ul class="fsfhu">
  <li>a jelen alapítványrendelés céljaival egyetért és elfogadja az alapítvány alapító okiratában foglaltakat, valamint</li>
  <li>az alapítvány vagyonát bármely módon gyarapítja.</li>
</ul>
<p>Az alapítvány működése nyilvános, nyújtott szolgáltatásait bárki igénybe veheti. Az alapítvány működésének, valamint szolgáltatásai igénybe vételének nyilvánosságra hozatali módjai a következők:</p>
<p>A csatlakozók a csatlakozás tényével nem válnak alapítókká.</p>
<ul class="fsfhu">
	<li>Az alapítvány oktatási, ifjúságvédelmi, ismeretterjesztési, kulturális és sport tevékenységét, azok igénybevételi lehetőségeit a cél szerint címzett körben terjeszti intézmények, iskolák stb. írásbeli megkeresésével.</li>
  <li>Az alapítvány az általa megszervezett programokat, foglalkozásokat, táborokat az önkormányzati lapokban, az önkormányzat hirdetőtábláin, egyéb sajtótermékekben hirdetések, tájékoztatók formájában közzéteszi, a televízióban és rádióban pedig a lehetőségei figyelembe vételével népszerűsíti.</li>
  <li>Az alapítvány működéséről, az általa nyújtott szolgáltatásokról időszakos kiadványokat, tájékoztatókat készít és azokat az önkormányzatoknak, iskoláknak, egyéb oktatási intézményeknek postai úton eljuttatja.</li>
</ul>
<p>
	Az alapítvány ülésezéseivel összefüggésben gondoskodni kell olyan nyilvántartás vezetéséről, amelyből a vezető szerv döntéseinek a tartalma, időpontja és hatálya,
	illetve a döntést támogatók és ellenzők számaránya megállapítható. Ennek érdekében az ülésekről készített jegyzőkönyveket iratgyűjtőben meg kell őrizni.
	A kuratóriumi döntésekről, intézkedésekről hozott – sorszámozott – határozatokról úgynevezett Határozatok Könyvét kell vezetni, amelyből nyomon követhető,
	hogy miről és mikor és milyen hatállyal történt döntéshozatal. E nyilvántartásból ki kell tűnnie, továbbá a – százalékos – szavazati arányoknak
	(a szavazó személyének a megnevezése nélkül): „igen”, „nem”, „tartózkodik” megoszlásban.
</p>
<p>
	A kuratórium döntéseit, rendelkezéseit – amennyiben azok személyre szólóak – írásban kell közölni az érintettekkel.
	Ezen értesítések, levelek másolatait meg kell őrizni. A kialakított kuratóriumi döntések, egyéb alapítványi felhívások,
	programok az illetékes önkormányzat hirdetőtábláin történő kifüggesztéssel kerülnek nyilvánosságra.
</p>
<p>
	Az alapítvány működése során keletkezett mindennemű iratba (levelezési anyagok, szerződések, bankkivonatok, számlák, nyilvántartások,
	könyvelés stb.) bárki korlátozás nélkül betekinthet.
</p>

<h3 class="fsfhu">Az alapítvány időtartama</h3>
<hr>
<p>Az alapítvány határozatlan időre alakul. Az alapítvány a nyilvántartásból való törléssel szűnik meg.</p>

<h3 class="fsfhu">Az alapítvány megszűnése</h3>
<hr>
<p>
	A megszűnő alapítványnak a megszűnéskor rendelkezésre álló vagyona sem az alapítóihoz, sem a csatlakozókhoz nem kerülhet vissza.
	Az alapítvány megszűnése esetén az adózás rendjéről szóló törvény alapján fennálló esedékes köztartozásainak és egyéb esetleges
	kötelezettségeinek a kiegyenlítése után fennmaradó vagyont hasonló célú alapítvány támogatására kell fordítani.
</p>

<h3 class="fsfhu">Egyéb rendelkezések</h3>
<hr>
<p>
	Az alapító okiratot valamennyi alapító csak együttesen, egyhangúlag módosíthatja.
	Az alapítvány – vállalkozási tevékenységnek nem minősülő – befektetési tevékenységet nem folytathat.
	Jelen okiratban nem szabályozott kérdésekben a Polgári Törvénykönyv szerinti, illetve a mindenkor hatályos
	egyéb jogszabályi rendelkezéseket kell figyelembe venni.
</p>
<p>
	Az alapítók tudomásul veszik, hogy az alapítvány a Fővárosi Bíróság által történő nyilvántartásba vétellel
	kezdi meg működését és nyeri el jogi személyiségét.
</p>
<p>
	Az alapítvány a bírósági nyilvántartásba vételével jön létre. A nyilvántartásba vétel nem tagadható meg,
	ha az alapító okirat az e törvényben meghatározott feltételeknek megfelel. Az alapítvány tevékenységét a
	nyilvántartásba vételről szóló határozat jogerőre emelkedése napján kezdheti meg.
</p>
