---
Title: "Hibajelentés"
Date: 2019-06-01T18:18:28+02:00
Draft: false
Summary: "Hibajelentés az OpenScope oldalon"
---
<p>
	Az FSF.hu alapítvány által honosított szoftverekben talált fordítási, vagy a magyar nyelven történő használatot
	zavaró hibák bejelentésére az <!--<a href="http://openscope.org/">OpenScope hibajelentőben</a> van lehetőség (akar regisztráció nélkül is!).
	A regisztráció előnye az, hogy a bejelentés eredményéről tudunk válaszüzenetet írni, míg a névtelen hibajelentés esetén erre csak akkor
	van lehetőségünk, ha a levél törzsében szerepel válaszcím.--> <code class="text-info">openscope [kukac] fsf [pont] hu</code>
  levelezőlista használható. Emellett egyéb platformokon is jelen vagyunk, ezek az elérhetőségeink
  az <a href="https://openscope.fsf.hu">openscope.fsf.hu</a> weboldalunkon találhatók meg.
</p>

<!--<p>
	Az OpenScope hibakövető webes használata sem kötelező, e-mailben is lehetőség van a hibák bejelentésére, a
	<code class="text-info">hibajelento [kukac] openscope [pont] org</code> címre kell levelet küldeni. Ekkor ugyanúgy OTRS hibajegy keletkezik,
	mintha a webes felületen lett volna bejelentve.
</p>-->

<p class="text-danger">
	Fontos, hogy a funkcionalitás általános hibáival itt nem tudunk foglalkozni, mint például a véletlenszerűen bezáródó programok,
	megszaladó memóriahasználat, eltűnő adatok – ilyen esetekben az adott projekt hivatalos fejlesztői hibakövetőjét javasoljuk.
</p>
