---
Title: "Javasolt szoftverek"
Date: 2019-06-01T18:18:28+02:00
Draft: false
Summary: "Az FSF.hu Alapítvány által javasolt szoftverek"
---
<h3>Operációs rendszerek</h3>
<p>
  A számítógép használatához elengedhetetlen egy jól használható, stabil, a célnak megfelelő operációs rendszer.
  Számos olyan szabad szoftver alapú, főleg szabad szoftvereket tartalmazó operációs rendszer elérhető,
  mely tökéletes megoldást ad a mindennapi felhasználás során felmerülő feladatokra.
  Ezek közül a rendszerek közül egy kezdő felhasználónak nem egyszerű választani, mivel nem ismeri elég mélyen a különböző lehetőségeket.
  Mi kezdő felhasználók számára, a szabad operációs rendszerek kipróbálására az Ubuntu Linux rendszert ajánljuk.
</p>
<h4>Ubuntu Linux</h4>
<p>
  Az Ubuntu olyan GNU/Linux alapú szabad operációs rendszer, amely az egyszerű, gyors telepítést és a
  használhatóságot tekinti elsődleges szempontnak. A rendszerből félévente megjelenik egy új változat,
  amely gyakran forradalmi újításokat hoz. A már telepített rendszer programjainak telepítése, frissítése
  néhány kattintással elvégezhető. A telepítés után (mely egy ma kapható gyengébb gépen is 15-20 perc alatt elkészül)
   a felhasználó máris egy beállított, sokrétű, jól használható programokat tartalmazó rendszert kap.
</p>

<h3>Alkalmazások</h3>
<hr>
<p>
  A következőkben azokat a szabad szoftvereket mutatjuk be röviden, amelyek több operációs rendszerre is elérhetők
  (például Windows, Linux, BSD, macOS), és kiforrottságuk miatt általános felhasználásra javasoltak.
</p>

<h3>Irodai alkalmazások</h3>
<hr>
<h4>LibreOffice <span class="text-muted">(leánykori nevén OpenOffice.org)</span></h4>
<p>
  A LibreOffice egy teljes körű irodai programcsomag, amely egymással szorosan integrált szövegszerkesztőt, táblázatkezelőt, HTML-szerkesztőt,
  vektoros képszerkesztőt, képletszerkesztőt és adatbázis-kezelőt foglal magába. Megemlítendő szolgáltatások a közvetlen PDF és Flash exportálás,
  valamint a makrókészítés lehetősége, amely tovább növeli a hatékonyságot. Készíthet körleveleket az Outlook vagy Mozilla címjegyzékének,
  vagy más adatforrás felhasználásával. A dokumentumok a nyílt XML formátumú, ISO/IEC 26300:2006 szabvány szerinti OpenDocument-fájlokba menthetők,
  amely biztosítja az adatok jövőbeli elérhetőségét, de a program a formátumok széles skáláját képes beolvasni vagy ilyenbe menteni,
  beleértve az MS Office-t is.
</p>
<p><b>Bővebb információ és letöltés:</b> <a href="https://libreoffice.hu" target="_blank">LibreOffice.hu</a></p>

<h3>Internetes kommunikáció</h3>
<hr>
<h4>Mozilla Firefox</h4>
<p>
  A <em>Mozilla Firefox</em> az egyik legelterjedtebb böngészőprogram, amely nemcsak Windowson futtatható.
  Kifejlesztésénél nagy hangsúlyt fektetek a webes szabványok betartására, a könnyű használhatóságra,
  és a biztonságra. A program kevés alapfunkcióval rendelkezik, de tudása külső fejlesztők által írt
  kiegészítők százainak segítségével az egyéni igények szerint bővíthető.
</p>
<p><b>Bővebb információ és letöltés:</b> <a href="https://www.mozilla.org" target="_blank">Mozilla.org</a></p>

<h4>Thunderbird</h4>
<p>
  A <em>Thunderbird</em> egy levelezőprogram. Szűri a kéretlen reklámleveleket, figyelmeztet a gyanús,
  adathalászok által küldött levelekre. Ehhez a programhoz is rengeteg kiegészítő készült,
  például a titkosított levelezést GPG segítségével lehetővé tevő <em>Enigmail</em>.
</p>
<p><b>Bővebb információ és letöltés:</b> <a href="https://www.thunderbird.net" target="_blank">Thunderbird.net</a></p>

<h4>Pidgin</h4>
<p>
  A <em>Pidgin</em> egy többplatformos azonnaliüzenet-küldő program, amelynek különlegessége, hogy sok protokollt ismer.
  Cseveghetünk vele AIM, ICQ, Jabber/XMPP, IRC és még néhány kevésbé ismert protokoll használatával.
</p>
<p><b>Bővebb információ és letöltés:</b> <a href="https://pidgin.im" target="_blank">Pidgin.im</a></p>

<h3>Grafikai alkalmazások</h3>
<hr>

<h4>GIMP</h4>
<p>
  A GNU Image Manipulation Program (GIMP) egy nagyon rugalmas alkalmazás, amely fényképretusálásra, képszerkesztésre és képek készítésére használható.
  Sokféle fájlformátumot, nyelvet és operációs rendszert támogat. Mivel számos szolgáltatása és bővítménye van, ezért időbe telhet,
  míg megtanul mesteri módon bánni vele. Szerencsére jó oktatóanyagok és dokumentáció található hozzá.
</p>
<p><b>Bővebb információ és letöltés:</b> <a href="http://gimp.hu" target="_blank">GIMP.hu</a></p>

<h4>Inkscape</h4>
<p>
  Az Inkscape egy vektoros rajzolóprogram, amely a W3C szabványos SVG formátumát használja elsődleges fájlformátumaként.
</p>
<p><b>Bővebb információ és letöltés:</b> <a href="http://inkscape.hu" target="_blank">Inkscape.hu</a></p>

<h4>Blender</h4>
<p>
A Blender 3D-modellező, animációs, renderelő szoftver. Felhasználási területe térhatású képek, reklámfilmek, animációs filmek készítése. Képességei elérik a milliókba kerülő professzionális programokéit, érdemes pl. megnézni a Blenderrel készült <a href="http://www.elephantsdream.org/" target="_blank">Elephants Dream</a>, <a href="http://www.bigbuckbunny.org/" target="_blank">Big Buck Bunny</a> vagy <a href="http://www.sintel.org/" target="_blank">Sintel</a> című filmeket.
</p>
<p><b>Bővebb információ és letöltés:</b> <a href="http://blender.org" target="_blank">Blender.org</a></p>
