---
Title: "Könyvek"
Date: 2019-08-04T15:43:37+02:00
Draft: false
Summary: "Az FSF.hu Alapítvány által kiadott könyvek"
---

<p class="lead">Alapítványunk aktivistái számos szabadon elérhető könyv elkészítésében működtek közre, illetve több – szabad szoftvereket bemutató – könyv elkészültét támogattunk anyagilag is. Ha esetleg valamelyik könyv nem érhető el a lapon található hivatkozásokon, akkor a másolatuk megtalálható az <a href="https://gitlab.com/fsfhu/books">fsfhu/books</a> GitLab-tárolónkban is.</p>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/sysadmin_I.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Mátó Péter, Rózsár Gábor, Őry Máté, Varga Csaba Sándor, Zahemszky Gábor:<br> 20/80 – Unix és Linux alapismeretek rendszergazdáknak</h6>
    <p><b>Kiadó:</b> E-közigazgatási Szabad Szoftver Kompetencia Központ, 2013.</p>
    <p>
      Ezzel a könyvvel és testvéreivel az a célunk, hogy viszonylag tömören összefoglaljuk azokat az információkat,
      amiket egy szabad szoftvereket használó szakembernek tudnia illik.
    </p>
    <p>
      A tárgyalt megoldások és szabad szoftverek legtöbbször több operációs rendszer alatt is használhatóak.
      Amikor viszont operációs rendszer szintről esik szó (telepítés, csomagkezelés vagy finomhangolás),
      akkor ez most – népszerűsége miatt – nálunk Linuxot jelent.
    </p>
    <p>
      <b>Letöltés:</b>
      Az 58 oldal terjedelmű, GPLv3 / CC BY-SA 3.0 licencű könyv
      <a target="_blank" href="https://gitlab.com/fsfhu/books/-/blob/master/ekozig/sysadmin_I.pdf">PDF formátumban tölthető le</a>.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/sysadmin_II.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Mátó Péter, Rózsár Gábor, Őry Máté, Varga Csaba Sándor, Zahemszky Gábor:<br> 20/80 – Linux rendszerek alapvető beállításai, üzemeltetése</h6>
    <p><b>Kiadó:</b> E-közigazgatási Szabad Szoftver Kompetencia Központ, 2013.</p>
    <p>
      Ezzel a könyvvel és testvéreivel az a célunk, hogy viszonylag tömören összefoglaljuk azokat az információkat,
      amiket egy szabad szoftvereket használó szakembernek tudnia illik.
    </p>
    <p>
      A tárgyalt megoldások és szabad szoftverek legtöbbször több operációs rendszer alatt is használhatóak.
      Amikor viszont operációs rendszer szintről esik szó (telepítés, csomagkezelés vagy finomhangolás),
      akkor ez most – népszerűsége miatt – nálunk Linuxot jelent.
    </p>
    <p>
      <b>Letöltés:</b>
      A 144 oldal terjedelmű, GPLv3 / CC BY-SA 3.0 licencű könyv 
      <a target="_blank" href="https://gitlab.com/fsfhu/books/-/blob/master/ekozig/sysadmin_II.pdf">PDF formátumban tölthető le</a>.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/sysadmin_III.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Mátó Péter, Rózsár Gábor, Őry Máté, Varga Csaba Sándor, Zahemszky Gábor:<br> 20/80 – Hálózati szolgáltatások szabad szoftverekkel</h6>
    <p><b>Kiadó:</b> E-közigazgatási Szabad Szoftver Kompetencia Központ, 2013.</p>
    <p>
      Ezzel a könyvvel és testvéreivel az a célunk, hogy viszonylag tömören összefoglaljuk azokat az információkat,
      amiket egy szabad szoftvereket használó szakembernek tudnia illik.
    </p>
    <p>
      A tárgyalt megoldások és szabad szoftverek legtöbbször több operációs rendszer alatt is használhatóak.
      Amikor viszont operációs rendszer szintről esik szó (telepítés, csomagkezelés vagy finomhangolás),
      akkor ez most – népszerűsége miatt – nálunk Linuxot jelent.
    </p>
    <p>
      <b>Letöltés:</b>
      A 144 oldal terjedelmű, GPLv3 / CC BY-SA 3.0 licencű könyv
      <a target="_blank" href="https://gitlab.com/fsfhu/books/-/blob/master/ekozig/sysadmin_III.pdf">PDF formátumban tölthető le</a>.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/qt_strandkonyv.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Varga Péter: QT strandkönyv</h6>
    <p><b>Kiadó:</b> E-közigazgatási Szabad Szoftver Kompetencia Központ, 2013.</p>
    <p>
      Az iskolákban a szoftverfejlesztők ma már fejlett integrált fejlesztői eszközök használatával sajátítják el a programozást.
      Véleményünk szerint a szabad szoftver rendszerekre rendelkezésre álló fejlesztői keretrendszerek közül kiemelkedik a Qt Creator,
      eddig azonban nem volt igazán jól használható magyar nyelvű tankönyv hozzá. Ezért úgy határoztunk, hogy készítünk egy bevezető könyvet,
      mely C++ előismereteket feltételezve a Qt függvénykönyvtár használatát mutatja be a Qt Creator segítségével.
    </p>
    <p>
      <b>Letöltés:</b>
      A 148 oldal terjedelmű, GPLv3 / CC BY-SA 3.0 licencű könyv
      <a target="_blank" href="https://gitlab.com/fsfhu/books/-/blob/master/ekozig/qt_strandkonyv.v2013-12.pdf">PDF formátumban tölthető le</a>.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/wordpress_alapismeretek.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Torma László: WordPress alapismeretek</h6>
    <p><b>Kiadó:</b> E-közigazgatási Szabad Szoftver Kompetencia Központ, 2013.</p>
    <p>
      A WordPress egyike a három vezető webes tartalomkezelő rendszernek (amelyek mindegyike nyílt forráskódú). 
      A WordPress, és ezzel a nyílt forráskódú tartalomkezelő rendszerek hazai terjedését reményeink szerint elő 
      fogja segíteni az ingyenes és szabadon terjeszthető magyar nyelvű kézikönyv.
    </p>
    <p>
      <b>Letöltés:</b>
      A 123 oldal terjedelmű, GPLv3 / CC BY-SA 3.0 licencű könyv
      <a target="_blank" href="https://gitlab.com/fsfhu/books/-/blob/master/ekozig/wordpress_alapismeretek.v2013-11.pdf">PDF formátumban tölthető le</a>.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/libreoffice_4.0_writer_kalauz.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>LibreOffice 4.0 Writer kalauz – Szövegszerkesztés stílusosan</h6>
    <p>Az E-közigazgatási Szabad Szoftver Kompetencia Központ elkészítette a hivatalos LibreOffice kézikönyvek Writer kalauzának magyar fordítását.</p>
    <p>
      Bárki, aki gyorsan szeretne megismerkedni a LibreOffice Writer használatával hasznosnak fogja találni ezt a könyvet.
      Mindegy, hogy most ismerkedik a szövegszerkesztő programokkal, vagy már ismer egy másik irodai alkalmazáscsomagot.
    </p>
    <p>
      <b>Letöltés:</b>
      Az 528 oldal terjedelmű, GPLv3 / CC BY-SA 3.0 licencű könyv
      <a target="_blank" href="https://gitlab.com/fsfhu/books/-/blob/master/LibreOffice/libreoffice_4.0_writer_kalauz.pdf">PDF formátumban tölthető le</a>.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/librelogo_oktatasi_segedanyag.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Lakó Viktória – LibreLogo oktatási segédanyag – A teknőcgrafikától a programozásérettségiig</h6>
    <p><b>Kiadó:</b> E-közigazgatási Szabad Szoftver Kompetencia Központ, 2013.</p>
    <p>
      Az E-közigazgatási Szabad Szoftver Kompetencia Központ LibreLogo fejlesztéséhez készült, kifejezetten oktatási
      célokat szolgáló magyar nyelvű tankönyv. A tankönyv programozásérettségivel foglalkozó fejezetének LibreLogo
      példái magyar nyelvű pszeudokódként is olvashatók, és a Python programnyelvvel való programszervezési és 
      adatszerkezeti hasonlóságok és azonosságok folytán kis módosítással fel is használhatók érettségin.
    </p>
    <p>
      <b>Letöltés:</b>
      A 159 oldal terjedelmű, GPLv3 / CC BY-SA 3.0 licencű könyv
      <a target="_blank" href="https://gitlab.com/fsfhu/books/-/blob/master/ekozig/librelogo_oktatasi_segedanyag_v4.pdf">PDF formátumban tölthető le</a>.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/libreoffice_bevezetes.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Blahota István – Bevezetés a LibreOffice használatába</h6>
    <p><b>Kiadás éve:</b> 2011.</p>
    <p>
      A LibreOffice nyílt forrású irodai alkalmazáscsomag szövegszerkesztéshez, táblázatkezeléshez, bemutatókhoz, grafikához,
      adatbázisokhoz és más feladatokhoz. Kezelőfelületét számtalan nyelvre – így magyarra is – lefordították, a legtöbb mai
      számítógépen és operációs rendszer alatt (Windows, Mac OS X, Linux, FreeBSD stb.) működik.
    </p>
    <p>
      A jegyzet alapkoncepciója, hogy nem teszünk úgy, mintha az MS Office és dominanciája nem létezne. Ez a munka azoknak az
      egyszerű felhasználóknak szól, akik – bár nem feltétlenül profik – nem most látnak először irodai programokat, de szeretnének
      „átszokni” a LibreOffice-ra, legalábbis barátkoznak a gondolattal.
    </p>
    <p>
      <b>Letöltés:</b>
      A könyv a <a target="_blank" href="https://mek.oszk.hu/09800/09875/">Magyar Elektronikus Könyvtárból</a> érhető el.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/libreoffice_kiadvanyszerkesztes.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Németh László – Kiadványszerkesztés LibreOffice Writer szövegszerkesztővel</h6>
    <p><b>Kiadás éve:</b> 2011.</p>
    <p>
      A Writer a Graphite betűtechnológiával és alapértelmezett Graphite betűkészleteivel kivételes magyar tipográfiai támogatással
      rendelkező kiadványszerkesztőként használható. A könyv fejezetei a LibreOffice kevésbé dokumentált lehetőségeit mutatják be.
    </p>
    <p>
      <b>Letöltés:</b>
      A könyvből mintaoldalak a <a target="_blank" href="http://numbertext.org/libreoffice/">http://numbertext.org/libreoffice/</a> oldalon találhatók,
      ugyaninnen letölthető a könyv is hibrid PDF formátumban, azaz olyan PDF-ben, amely tartalmazza az ODF forrást is.
      Ez a hibrid PDF LibreOffice-ban megnyitható és tanulmányozható. 
      A könyv a <a target="_blank" href="http://mek.oszk.hu/09400/09432/">Magyar Elektronikus Könyvtárból</a> is elérhető.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/openoffice_calc.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Pallay Ferenc – Az OpenOffice.org Calc használata</h6>
    <p><b>Kiadás éve:</b> 2010.</p>
    <p>
      Ebből a könyvből a LibreOffice táblázatkezelőjének, a Calcnak a használatát lehet elsajátítani. Az anyag teljes mértékben lefedi 
      mind az érettségi, mind az ECDL táblázatkezelő moduljának a témaköreit. A tanulást több, mint 150 szemléletes kép könnyíti meg,
      illetve 35 gyakorló feladat segít az ismeretek elmélyítésében.
    </p>
    <p>
      A könyvben a függvények nevei a magyar nyelvű Microsoft Excelnek megfelelően magyarul szerepelnek, de a fejezetek végén angolul 
      is meg vannak adva. A magyar LibreOffice-ban mind az angol, mind a magyar függvénynevek használhatóak.
    </p>
    <p>
      <b>Letöltés:</b>
      A könyv elkészítését az FSF.hu Alapítvány támogatta, letölthető a
      <a target="_blank" href="http://mek.oszk.hu/07500/07556/">Magyar Elektronikus Könyvtárból</a>.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/Barath_Gabor_GIMP_konyv.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Baráth Gábor – GIMP könyv</h6>
    <p><b>Kiadás éve:</b> 2014.</p>
    <p>
      A GIMP könyv nem kézikönyv, de nem is tankönyv. Olyan könyv, amelyből – ha figyelmesen olvasod – 
      példákon keresztül megtudhatsz egy csomó dolgot a GIMP használatáról. Ha veszed a fáradtságot, és végigolvasod, 
      a benne található információk alapján meg fogsz tudni oldani nagyon sok dolgot, legyen szó retusálásról vagy tervezésről.
    </p>
    <p>
      A könyvet nem kell elölről a végéig elolvasnod! Megteheted azt is, hogy egy-egy önállóan is értelmezhető, 
      éppen az adott fotóhoz vagy tervhez szükséges technikát leíró fejezetet olvasol csak el belőle, 
      de olvashatod gyakorlatilag bármilyen sorrendben.
    </p>
    <p>
      <b>Letöltés:</b>
      A könyv elkészítését az FSF.hu Alapítvány támogatta, melyet minden érdeklődő
      <a target="_blank" href="http://gimp.hu/#bgwrap_thirdpage">ingyenesen letölthet</a>, 
      és a Creative Commons Nevezd meg! (CC BY 4.0) licenc feltételeinek megfelelően szabadon felhasználhat.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/inkscape_vektorgrafika_mindenkinek.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Kisantal Tibor – Inkscape, vektorgrafika mindenkinek</h6>
    <p><b>Kiadás éve:</b> 2014.</p>
    <p>
      Ez a könyv két részből áll: Az első egy feladatgyűjtemény, amely önálló tanulásra alkalmas, de szakkörök, tanfolyamok anyagaként is megállja a helyét.
    </p>
    <p>
      A második rész a grafikai tervezésről szól. Sok gyakorlati tanáccsal szeretnélek bátorítani arra, hogy rajzolj, alkoss, kommunikálj a grafika nyelvén.
    </p>
    <p>
      <b>Letöltés:</b>
      A könyv elkészítését az FSF.hu Alapítvány támogatta, melyet minden érdeklődő
      <a target="_blank" href="http://inkscape.hu/letoltesek/">ingyenesen letölthet</a>,
      és a Creative Commons Nevezd meg! &ndash; Így add tovább! (CC BY-SA 3.0) licenc feltételeinek megfelelően szabadon felhasználhat.
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12" align="center">
    <img src="{{< staticref "assets/images/blender_latvany_es_animacio.png" >}}">
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h6>Kisantal Tibor – Blender–látvány és animáció</h6>
    <p><b>Kiadás éve:</b> 2017.</p>
    <p>
      A Blender egymagában képes betölteni egy kisebb animációs filmstúdió minden igényét, lefedve a teljes produkciós folyamatot.
      Látványterv és próbafilm; modellezés, bevilágítás, agyagok és textúrák; animáció és szimuláció; renderelés, utómunka és vágás.
      Mindenre találunk megoldást ebben a szoftverben. S hogy mit ígér a könyv?
    </p>
    <p>
      Hatalmas képanyag segítségével, részletes magyarázatokkal suhanunk végig 40 egymásra épülő projekteken,
      begyakorolva a program kezelését és animációs alapkoncepcióit. A választott műfaj a motion graphics – a látványanimáció.
    </p>
    <p>
      <b>Letöltés:</b>
      A könyv elkészítését az FSF.hu Alapítvány támogatta, melyet minden érdeklődő
      <a target="_blank" href="http://blender.fsf.hu/book.html">ingyenesen letölthet</a>,
      és a Creative Commons Nevezd meg! &ndash; Így add tovább! (CC BY-SA 4.0) licenc szerint terjeszthető, idézhető, módosítható.
    </p>
  </div>
</div>

