---
Title: "Támogatóink"
Date: 2019-06-01T18:18:28+02:00
Draft: false
Summary: "Az FSF.hu Alapítvány támogatói"
---
<p class="lead">
  Ezúton köszönjük Önnek, hogy felajánlotta személyi jövedelemadója 1%-át az FSF.hu Alapítványnak!
  Amennyiben Ön is szeretné támogatni alapítványunkat, <a href="{{< staticref "tamogatas" >}}">tekintse át milyen formában segíthet</a>.
</p>

<h3>Gyémánt fokozatú támogatóink</h3>
<table class="table table-striped table-compact">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">Cégek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-6"><a href="http://23vnet.hu/">23VNet Kft.</a></td>
      <td class="col-6">folyamatos szerverelhelyezés</td>
    </tr>
    <tr>
      <td><a href="http://www.andrews.hu/">Andrews IT Engineering Kft.</a></td>
      <td>2006, 2008, 2009, 2011, 2015</td>
    </tr>
    <tr>
      <td><a href="http://balabit.hu/">Balabit Kft.</a></td>
      <td>2013</td>
    </tr>
    <tr>
      <td><a href="http://biztributor.hu/">Biztributor Kft.</a></td>
      <td>2011</td>
    </tr>
    <tr>
      <td><a href="http://irodakukac.hu/">Irodakukac Pénzügyi Informatikai Kft.</a></td>
      <td>az Alapítvány könyvelése (2003-2006)</td>
    </tr>
    <tr>
      <td>JAVA Szövetség</td>
      <td>2009</td>
    </tr>
    <tr>
      <td><a href="http://lme.hu/">Linux-felhasználók Magyarországi Egyesülete</a></td>
      <td>2003, 2008</td>
    </tr>
    <tr>
      <td><a href="http://multiracio.hu/">Multiráció Kft.</a></td>
      <td>2011</td>
    </tr>
    <tr>
      <td><a href="http://www.novell.hu/">Novell Magyarország Kft.</a></td>
      <td>2007, 2013</td>
    </tr>
    <tr>
      <td><a href="http://ulx.hu/">ULX Nyílt Forráskódú Tanácsadó és Disztribúciós Kft.</a></td>
      <td>2004, 2009, 2011</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-compact">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">Magánszemélyek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-6"><a href="http://bartal.org/">Bartal Tamás András</a></td>
      <td class="col-6">2006, 2007, 2008</td>
    </tr>
      <tr>
        <td class="col-6">Budea Áron</td>
        <td class="col-6">2018, 2019</td>
      </tr>
      <tr>
        <td class="col-6">Dömsödy Gergely</td>
        <td class="col-6">2019</td>
      </tr>
      <tr>
        <td class="col-6">Erdei Csaba /Szörpi/</td>
        <td class="col-6">2003</td>
      </tr>
      <tr>
        <td class="col-6">CGS</td>
        <td class="col-6">2004</td>
      </tr>
      <tr>
        <td class="col-6">Jávor Tamás</td>
        <td class="col-6">2019, 2020</td>
      </tr>
      <tr>
        <td class="col-6">Kádas Viktor</td>
        <td class="col-6">2006, 2007</td>
      </tr>
      <tr>
        <td class="col-6">Kéménczy Kálmán</td>
        <td class="col-6">2005, 2006, 2007</td>
      </tr>
      <tr>
        <td class="col-6">Nagy György</td>
        <td class="col-6">2005, 2006, 2007</td>
      </tr>
      <tr>
        <td class="col-6">Nagy Károly /Charlie/</td>
        <td class="col-6">2003</td>
      </tr>
      <tr>
        <td class="col-6">Németh Lóránt</td>
        <td class="col-6">2020</td>
      </tr>
      <tr>
        <td class="col-6"><a href="https://tuna.hu">Tuna András</a></td>
        <td class="col-6">2016, 2022</td>
      </tr>
      <tr>
        <td class="col-6">Turegga</td>
        <td class="col-6">2004</td>
      </tr>
      <tr>
        <td class="col-6">Zrínyi Dániel</td>
        <td class="col-6">2006</td>
      </tr>
  </tbody>
</table>

<h3>Smaragd fokozatú támogatóink</h3>
<table class="table table-striped table-compact">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">Cégek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-6"><a href="http://www.balabit.hu/">Balabit Kft.</a></td>
      <td class="col-6">2009</td>
    </tr>
    <tr>
      <td>DMG Műhely – Dusik Móni</td>
      <td>2003</td>
    </tr>
    <tr>
      <td><a href="http://www.elit-info.hu/">ELIT-INFO Kft.</a></td>
      <td>2008</td>
    </tr>
    <tr>
      <td>Kancellár Zrt.</td>
      <td>2012</td>
    </tr>
    <tr>
      <td>Kopog</td>
      <td>2012</td>
    </tr>
    <tr>
      <td><a href="http://www.liaiskola.hu/">LIA Alapítványi Óvoda és Szakközépiskola</a></td>
      <td>2011</td>
    </tr>
    <tr>
      <td><a href="http://www.linuxakademia.hu/">Linux Akadémia</a></td>
      <td>2009</td>
    </tr>
    <tr>
      <td><a href="http://bsd.hu/">Magyar BSD Egyesület</a></td>
      <td>2015</td>
    </tr>
    <tr>
      <td>MIND-INFO Informatikai Kft.</td>
      <td>2008</td>
    </tr>
    <tr>
      <td>Multip Számítechnikai Kft.</td>
      <td>2012</td>
    </tr>
    <tr>
      <td><a href="http://www.novell.hu/">Novell Magyarország</a></td>
      <td>2011</td>
    </tr>
    <tr>
      <td><a href="http://www.openskm.com/">Open SKM Kft.</a></td>
      <td>2005, 2006</td>
    </tr>
    <tr>
      <td><a href="http://www.prolin.hu/">Prolin Kft.</a></td>
      <td>2008</td>
    </tr>
    <tr>
      <td>Radix Technologies</td>
      <td>2009</td>
    </tr>
    <tr>
      <td><a href="http://www.soulware.hu/">Soulware Kft.</a></td>
      <td>2015</td>
    </tr>
    <tr>
      <td><a href="http://www.startit.hu/">StartIT</a></td>
      <td>2011</td>
    </tr>
    <tr>
      <td><a href="http://ulx.hu/">ULX Nyílt Forráskódú Tanácsadó és Disztribúciós Kft.</a></td>
      <td>2012, 2013</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-compact">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">Magánszemélyek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-6"><a href="http://www.dacas.net/hu/index.html">Daczi László</a></td>
      <td class="col-6">2003</td>
    </tr>
    <tr>
      <td>Hetesi István</td>
      <td>2018</td>
    </tr>
    <tr>
      <td>Juhász András</td>
      <td>2010</td>
    </tr>
    <tr>
      <td>Kovács Emese</td>
      <td>2005</td>
    </tr>
    <tr>
      <td><a href="http://gergely.sportember.eu/">Máté Gergely</a></td>
      <td>2009, 2010, 2011</td>
    </tr>
    <tr>
      <td>mikellos</td>
      <td>2004</td>
    </tr>
    <tr>
      <td>Nagy Ferenc</td>
      <td>2018</td>
    </tr>
    <tr>
      <td>Németh Lóránt</td>
      <td>2005,2018</td>
    </tr>
    <tr>
      <td>Rózsár Gábor</td>
      <td>2013</td>
    </tr>
    <tr>
      <td><a href="https://tuna.hu">Tuna András</a></td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Végvári Sándor</td>
      <td>2020</td>
    </tr>
    <tr>
      <td>Zsadányi-Nagy Csaba</td>
      <td>2004</td>
    </tr>
  </tbody>
</table>

<h4>Zafír fokozatú támogatóink</h4>
<table class="table table-striped table-compact">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">Cégek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-6"><a href="http://www.3t.hu/">3 Testőr Bt.</a></td>
      <td class="col-6">2003</td>
    </tr>
    <tr>
      <td><a href="http://www.deja.hu/">DEJAHU Kft.</a></td>
      <td>2008</td>
    </tr>
    <tr>
      <td><a href="http://www.docca.hu/">DOCCA OutSource IT Kft.</a></td>
      <td>2005</td>
    </tr>
    <tr>
      <td><a href="http://www.elit-info.hu/">ELIT-INFO Kft.</a></td>
      <td>2007</td>
    </tr>
    <tr>
      <td><a href="http://www.faxunil.hu/">FAXUNIL Kft.</a></td>
      <td>2008</td>
    </tr>
    <tr>
      <td><a href="http://www.flaxcom.hu/">Flaxcom Kft.</a></td>
      <td>2006</td>
    </tr>
    <tr>
      <td><a href="http://www.ilang.hu/">ILANG Kft.</a></td>
      <td>2015</td>
    </tr>
    <tr>
      <td><a href="http://www.infocomplex.hu/">Infocomlex Bt.</a></td>
      <td>2008</td>
    </tr>
    <tr>
      <td><a href="http://www.novell.hu/">Novell Magyarország Kft.</a></td>
      <td>2009, 2016</td>
    </tr>
    <tr>
      <td><a href="http://portmax.hu/">Portmax Bt.</a></td>
      <td>2008</td>
    </tr>
    <tr>
      <td><a href="http://rackforest.hu/">Rackforest Kft.</a></td>
      <td>2015</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-compact">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">Magánszemélyek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-6">Bankó Zoltán</td>
      <td class="col-6">2013</td>
    </tr>
    <tr>
      <td>Burján Gábor</td>
      <td>2009</td>
    </tr>
    <tr>
      <td>Hetesi István</td>
      <td>2019,2020</td>
    </tr>
    <tr>
      <td>Juhász András</td>
      <td>2007</td>
    </tr>
    <tr>
      <td>Kozáry Ferenc</td>
      <td>2011</td>
    </tr>
    <tr>
      <td>Magosányi Árpád</td>
      <td>2005</td>
    </tr>
    <tr>
      <td>Németh Lóránt</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>Márki Imre Lajos</td>
      <td>2007</td>
    </tr>
    <tr>
      <td>Volarics István</td>
      <td>2015</td>
    </tr>
  </tbody>
</table>

<h3>Rubin fokozatú támogatóink</h3>
<table class="table table-striped table-compact">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">Cégek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-6"><a href="http://bagaboo.hu/">Bagaboo Bt.</a></td>
      <td class="col-6">2006, 2008</td>
    </tr>
    <tr>
      <td><a href="http://www.e-nnova.hu/">E-nnova Kft.</a></td>
      <td>2007</td>
    </tr>
    <tr>
      <td><a href="http://infocomplex.hu/">InfoComplex Bt.</a></td>
      <td>2005, 2006</td>
    </tr>
    <tr>
      <td><a href="http://www.inthouse.hu/">IntHouse</a></td>
      <td>2006</td>
    </tr>
    <tr>
      <td><a href="http://www.lsc.hu/">LSC Kft.</a></td>
      <td>2006</td>
    </tr>
    <tr>
      <td><a href="http://www.meszaroskonyvelo.hu/">Mészáros Könyvelő Kft.</a></td>
      <td>2010</td>
    </tr>
    <tr>
      <td><a href="http://www.multijobisz.hu/">Multi Job Iskolaszövetkezet</a></td>
      <td>2006</td>
    </tr>
    <tr>
      <td><a href="http://www.part-ner.hu/">PART-ner Hungaria Kft.</a></td>
      <td>2004</td>
    </tr>
    <tr>
      <td><a href="http://www.portmax.hu/">Portmax Bt.</a></td>
      <td>2006</td>
    </tr>
    <tr>
      <td><a href="http://www.primodesign.hu/">Primodesign Informatikai és Marketing Bt.</a></td>
      <td>2005</td>
    </tr>
    <tr>
      <td>Rentónia Kft. (Gábor Dénes Főiskola Békéscsabai konzultációs központ)</td>
      <td>2003</td>
    </tr>
    <tr>
      <td><a href="http://www.zarszerviz.hu/">Z1 Zárszervíz Kft.</a></td>
      <td>2008</td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-compact">
  <thead class="thead-dark">
    <tr>
      <th colspan="2">Magánszemélyek</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-6">Balogh Péter</td>
      <td class="col-6">2004</td>
    </tr>
    <tr>
      <td>Bogdán Róbert</td>
      <td>2015</td>
    </tr>
    <tr>
      <td>Császár-Cs. Péter</td>
      <td>2008, 2009</td>
    </tr>
    <tr>
      <td>E-spanyol.hu</td>
      <td>2005</td>
    </tr>
    <tr>
      <td>Kárász Péter</td>
      <td>2003</td>
    </tr>
    <tr>
      <td>Kis Gergely</td>
      <td>2012</td>
    </tr>
    <tr>
      <td>Németh Lóránt</td>
      <td>2015</td>
    </tr>
    <tr>
      <td>Takács Tibor</td>
      <td>2005</td>
    </tr>
    <tr>
      <td>Till Zoltán</td>
      <td>2006</td>
    </tr>
  </tbody>
</table>

<h3>Médiatámogatóink</h3>
<hr>
<ul class="fsfhu">
  <li><a href="https://www.hup.hu/">Hungarian Unix Portal</a></li>
  <li><a href="https://www.itcafe.hu/">IT café – Informatika Pont</a></li>
  <li><a href="https://www.hwsw.hu/">HWSW Informatikai Hírmagazin</a></li>
  <li><a href="https://www.kiskapu.hu/">Kiskapu Kft. – Médiatámogató, ajándékok (folyamatos)</a></li>
</ul>
