<!DOCTYPE html>
<html>
<head>
	 {{ partial "head" . }}
</head>
<body>
	{{ partial "header" . }}

	<div class="container" style="padding-top: 70px">
		<h1>{{ .Title }}</h1>
		<hr />
		{{ .Content }}
	</div>

	{{ partial "footer" . }}
</body>
</html>
