<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ "assets/images/favicon.ico" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/bootstrap.min.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/overrides.css" | absURL }}" />
<link rel="stylesheet" href="{{ "assets/css/fsfhu.css" | absURL }}" />
{{ if eq .Type "root" }}
<link rel="alternate" type="application/rss+xml" title="FSFhu" href="https://fsf.hu/index.xml" />
{{ else if eq .Type "blog"}}
<link rel="alternate" type="application/rss+xml" title="FSFhu" href="https://fsf.hu/blog/index.xml" />
{{ end }}
<title>FSF.hu Alapítvány</title>
