<nav class="navbar navbar-dark fixed-top navbar-expand-sm bg-primary">
	<div class="container">
		<a class="navbar-brand" href="{{ "/" | absURL }}">
			<img src="{{ "assets/images/fsfhu.png" | absURL }}" alt="FSF.hu Alapítvány" title="FSF.hu Alapítvány" />
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Navigáció átváltása">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ "blog" | absURL }}">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ "nevjegy" | absURL }}">Névjegy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ "projektjeink" | absURL }}">Projektjeink</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ "aktivistaink" | absURL }}">Aktivistáink</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ "konyvek" | absURL }}">Könyvek</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ "tamogatas" | absURL }}">Támogatás</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ "kapcsolat" | absURL }}">Kapcsolat</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
